
.item-container {
    position: relative;
    @include flex-between(row, center, flex-end);
    gap: 16px;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: $card-shadow;
    border: 1px solid gainsboro;
    cursor: pointer;
    transition: all ease 200ms;
    
    h3 {
        font-size: 1.3rem;
        color: $accent-color;
    }

    h5 {
        color: white;
        letter-spacing: 1px;
        padding: 2px 8px;
        border-radius: 4px;
    }

    p {
        font-weight: 500;
        color: gray;
    }

    .op-date {
        color: gray;
    }

    .options {
        position: absolute;
        right: -8px;
        height: 130%;
        @include flex-between(column);


        span {
            padding: 5px;
            display: grid;
            place-content: center;
            border-radius: 8px;
        }
    }
}

.monto-date {
    justify-self: flex-end;
    @include flex-between(column);
    gap: 4px;
}

.editar {
    background-color: $accent-color;
}

.eliminar {
    background-color: red;
}

.title-tipo {
    @include flex-between(column, flex-start);
    gap: 8px;
    width: 50%;
}

.tipo {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;

}

.compro {
    color: $Compro-color;
}

.pago {
    color: $pago-color;
}

.modo-fiado, .modo-cash-banco {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.modo-fiado {
    background-color: orange;
}

.modo-cash-banco {
    background-color: $Compro-color;
}

.item-scale {
    transform: scale(1.04) translateY(-8px);
    border: 2px solid gainsboro;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}