
.card-container {
    padding: 6px;
    height: 160px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 8px;
    @include flex-between(column);
    box-shadow: $card-shadow;

    .card-image {
        object-fit: contain;
    }

    h3, h4 {
        width: 100%;
        text-align: center;
    }

    h3 {
        color: $accent-color;
    }

    h4 {
        font-size: 0.9rem;
        line-height: 1.1rem;
        margin-top: 4px;
    }
}