
.operation-btn-container {
    border: none;
    border-radius: 8px;
    background-color: $primary-color;
    display: grid;
    place-content: center;
    box-shadow: $button-shadow;
    position: fixed;
    bottom: 25px;
    right: 50%;
    transform: translateX(340%);
    z-index: 2;
    padding: 8px 14px;

    &:focus {
        background-color: $secondary-color;
    }

}
