
.topbar-container {
    @include flex-between(row, center, center);
    gap: 16px;
    padding-left: 20px;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: $primary-color;
    z-index: 1;

    h3, h2 {
        color: white;
        font-size: 1.3rem;
    }
}

.home-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    height: 70px;
    padding: 0 14px 0 12px;
    border-radius: 0 50% 50% 0;
    background-color: $accent-color;
    border: none;

    &:focus {
        background-color: $accent2-color;
    }
}