
.topbar-container {
    @include flex-between(row, center, center);
    gap: 16px;
    padding-left: 20px;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    border-radius: 16px;
    width: 95%;
    height: 70px;
    background-color: $primary-color;
    box-shadow: $form-shadow;
    z-index: 1;

    h3, h2 {
        color: white;
        font-size: 1.3rem;
    }
}

.home-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    height: 60px;
    width: 60px;
    padding: 0 14px 0 12px;
    border-radius: 50%;
    background-color: $accent-color;
    border: none;

    &:focus {
        background-color: $accent2-color;
    }

}