
.topbar-container {
    @include flex-between(row, center, space-between);
    gap: 16px;
    padding: 0 12px 0 72px;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    border-radius: 4px;
    width: 95%;
    max-width: 416px * 0.95;
    height: 70px;
    background-color: $primary-color;
    box-shadow: $form-shadow;
    border: 2px solid $primary-color;
    z-index: 1;

    h3 {
        color: white;
        font-weight: 600;
    }

    .el-monto {
        font-size: 1.5rem;
    }
}

.home-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    height: 100%;
    width: 60px;
    padding: 0 14px 0 12px;
    border-radius: 2px 0 0 2px;
    background-color: $accent-color;
    border: none;

    &:focus {
        background-color: $accent2-color;
    }

}