
$primary-color: #21094E;
$secondary-color: #511281;
$accent-color: #4CA1A3;
$accent2-color: #A5E1AD;
$pago-color: #00C853;
$Compro-color: #00B0FF;
$bg-color: #ECE6FF;

$app-font: 'Baloo Bhaijaan 2', cursive;

$button-shadow:rgb(38, 57, 77) 0px 20px 30px -10px;
$form-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;