@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhaijaan 2", cursive;
  color: #21094E;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.layout-container {
  position: relative;
  min-height: 100vh;
  max-width: 416px;
  margin: 0 auto;
  background-color: #ECE6FF;
}

.topbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #21094E;
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

.topbar-container h3, .topbar-container h2 {
  color: white;
}

.grid-container {
  padding: 20px;
  margin-bottom: 80px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card-container {
  padding: 6px;
  height: 160px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-container .card-image {
  -o-object-fit: contain;
     object-fit: contain;
}

.card-container h3, .card-container h4 {
  width: 100%;
  height: 20%;
  text-align: center;
}

.card-container h3 {
  color: #4CA1A3;
}

.add-btn-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #21094E;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
  position: fixed;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 2;
}

.form-blur {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 3;
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 8px;
  width: 80%;
  background-color: #511281;
  border-radius: 8px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 16px;
  z-index: 4;
}

.form-container h2 {
  color: white;
}

.form-container input {
  width: 80%;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 1.1rem;
}

.form-container input:focus {
  outline: none;
  border: 2px solid #A5E1AD;
}

.form-container button {
  width: 80%;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 1.1rem;
  color: white;
  background-color: #4CA1A3;
}

.list-container {
  padding: 20px;
  margin-bottom: 80px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 12px;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item-container h3 {
  font-size: 1.3rem;
  color: #4CA1A3;
}

.title-tipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
}

.tipo {
  padding: 2px 8px;
  display: inline-block;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}

.compro {
  background-color: #00B0FF;
}

.pago {
  background-color: #00C853;
}
/*# sourceMappingURL=style.css.map */