@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhaijaan 2", cursive;
  color: #21094E;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.layout-container {
  position: relative;
  min-height: 100vh;
  max-width: 416px;
  margin: 0 auto;
  background-color: #ECE6FF;
}

.topbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  padding-left: 20px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #21094E;
  z-index: 1;
}

.topbar-container h3, .topbar-container h2 {
  color: white;
  font-size: 1.3rem;
}

.home-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 70px;
  padding: 0 14px 0 12px;
  border-radius: 0 50% 50% 0;
  background-color: #4CA1A3;
  border: none;
}

.home-icon:focus {
  background-color: #A5E1AD;
}

.grid-container {
  padding: 20px;
  padding-bottom: 80px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card-container {
  padding: 6px;
  height: 160px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-container .card-image {
  -o-object-fit: contain;
     object-fit: contain;
}

.card-container h3, .card-container h4 {
  width: 100%;
  height: 20%;
  text-align: center;
}

.card-container h3 {
  color: #4CA1A3;
}

.add-btn-container {
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #21094E;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
  position: fixed;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 2;
}

.add-btn-container:focus {
  background-color: #511281;
}

.operation-btn-container {
  border: none;
  border-radius: 8px;
  background-color: #21094E;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
  position: fixed;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translateX(340%);
          transform: translateX(340%);
  z-index: 2;
  padding: 8px 14px;
}

.operation-btn-container:focus {
  background-color: #511281;
}

.form-blur {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 10;
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 8px;
  max-width: 416px;
  width: 80%;
  background-color: #511281;
  border-radius: 8px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 16px;
  z-index: 12;
}

.form-container span {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.form-container h2, .form-container label, .form-container h4 {
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

.form-container .actualizar-op {
  background-color: #4CA1A3;
  padding: 4px 14px;
}

.form-container h3 {
  color: gainsboro;
  margin-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid gainsboro;
}

.form-container input {
  width: 80%;
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 1.1rem;
  border: none;
}

.form-container input:focus {
  outline: none;
  border: 2px solid #A5E1AD;
}

.form-container button {
  width: 80%;
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 1.1rem;
  color: white;
  background-color: #4CA1A3;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 12px;
  border: none;
}

.form-container button:disabled {
  background-color: gray;
}

.form-container button:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 8px 12px;
}

.list-container {
  padding: 20px;
  padding-bottom: 80px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 12px;
  gap: 20px;
}

.item-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.item-container h3 {
  font-size: 1.3rem;
  color: #4CA1A3;
}

.item-container h5 {
  color: grey;
}

.item-container section {
  position: absolute;
  right: -8px;
  height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-container section span {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 8px;
}

.monto-date {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
}

.editar {
  background-color: #4CA1A3;
}

.eliminar {
  background-color: red;
}

.title-tipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  width: 50%;
}

.tipo {
  display: inline-block;
  border-radius: 8px;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}

.compro {
  color: #00B0FF;
}

.pago {
  color: #00C853;
}

.item-scale {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: 2px solid #511281;
}
/*# sourceMappingURL=style.css.map */